body{
	padding: 0px;
	margin: 0px; 
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(themath.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}
button{
background-color: #407088;;
color: white;
padding: 10px 20px;
border: 0px;
cursor: pointer;
border-radius: 50px 30px;
transition: 0.8s all;
}

button:hover{
border-radius:10px;
transition: 0.5s all;
}

.btnsquare{
	margin-right: 50px
}

.btncircle{
	margin-left: 50px;
}